body {
	font-family: 'Roboto', 'Arial' sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
}

p, ul {
	padding: 0;
	margin: 0;
}

.container {
	width: 90%;
	margin: 0 auto;
	background-color: lightgreen;
	box-sizing: border-box;
	padding: 0 27px;
}

/* <================= header =================> */

.main-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightblue;
}

.main-navigation {
	width: 535px;
}

.main-navigation__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-navigation__list-string {
	list-style-type: none;
}

.user-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 265px;
}

.header-contacts {
	float: right;
	padding: 0;
	margin: 0;
}

/* <================= main index =================> */

.main-slider {
	width: 100%;
	box-sizing: border-box;
	padding-top: 10px;
}

.main-slider__img {
	max-width: 100%;
    height: auto;
}

/*хрен знает как делаь там этот слайдер*/


.bloks-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.promo-block {
	width: 560px;
	min-height: 230px;
	background-color: lightblue;
	box-sizing: border-box;
	padding: 30px 20px 25px 20px;

	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.promo-block__title {
	margin-bottom: 30px;
}

.promo-block__desc {
	margin-bottom: 50px;
}

.promo-block__button {
	align-self: flex-end;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.product {
	display: flex;
	align-items: center;
	flex-direction: column;
	width:267px;
	margin-right: 25px;
	margin-bottom: 20px;
	background-color: lightblue;
}

.product:nth-child(4n) {
	margin-right: 0;
}

.advantages {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 30px 20px;
	box-sizing: border-box;
	background-color: lightblue;
}

.advantages-wrapper {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;

}

.advantages__item {
	width:540px;
	box-sizing: border-box;
	padding-left: 57px;
	margin-bottom: 15px;
	background-color: lightyellow;

}

.blog-news {
	width: 560px;
	min-height: 230px;
	background-color: lightblue;
	box-sizing: border-box;
	padding: 30px 20px 25px 20px;
	
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.blog-news__title {
	margin-bottom: 20px;
}

.subscribe {
	width: 560px;
	min-height: 230px;
	background-color: lightblue;
	box-sizing: border-box;
	padding: 30px 20px 25px 20px;
	
	display: flex;
	flex-direction: column;
	align-items:flex-start;
}

.subscribe__desc {
	margin-bottom: 40px;
}

.map {
	height: 430px;
	width: 100%;
	background-color: lightblue;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.map__address-block {
	box-sizing: border-box;
	min-height: 305px;
	width: 303px;
	padding: 31px 26px;
	float: right;
	background-color: lightgrey;
}

.map__address-details {
	margin-bottom: 30px;
}

/* <================= footer =================> */

.main-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	background-color: lightgrey;
}

.social-icons {
	width: 186px;
	height: 50px;
	background-color: lightgreen;
}

.footer-navigation__list {
	list-style-type: none;
	display: inline-block;
    margin-right: 10px;
}

.footer-navigation__list-item {
	padding-left: 20px;
}

.developers__img {
	display: block;
}

/* <================= list items page =================> */

.breadcrumbs {
	margin-top: 30px;
}

.breadcrumbs__list {
	list-style-type: none;
}

.breadcrumbs__item {
	display: inline-block;
	padding-right: 22px;
	background-color: lightgrey;
}

.page-title {
	margin-top: 10px;
	background-color: lightgrey;
}

.filter__form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	max-width: 862px;
	background-color: lightgrey;
	margin-bottom: 40px;

}

.filter__block {
	margin-right: 15px;
}

.filter__wrapper {
	padding: 15px;
	background-color: lightblue;
}

.filter__name {
	display: inline-block;
	padding-left: 15px;
	margin-bottom: 10px;
}

.filter__label {
	display: inline-block;
}

.pagination {
	margin-top: 60px;
	margin-bottom: 37px;
}

.pagination__list {
	display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.pagination__item {
	margin-right: 23px;
}

.pagination__item:last-child {
	margin-right: 0;
}